@charset "UTF-8";

/*---------------
id="container"
---------------*/
#container {
    /*横幅*/
    width: 500px;
    /*----------------------------------------------
    marginは各方向から中心へ押し込むイメージ
    「!important」はCSS適用の優先順位が最も優先される
    ----------------------------------------------*/
    margin: auto !important;
    /*縦並びの要素*/
    display: block;
    /*縦幅*/
    height: 500px;
    /*要素の配置指定*/
    position: relative;
    /*-------------------------------------------
    これはなんの為につけているのかよくわからない。
    本来はulタグに対して「・」を消すためによく使われる。
    -------------------------------------------*/
    list-style-type: none;
    /*以下カスタムプロパティ*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*-------------------------------------------------------------
    user-select: noneは、テキストを選択できない様にする。
    allの場合は一度クリックすると要素内のテキストを全て選択します。
    -------------------------------------------------------------*/
    user-select: none;
}

.buddy {
    display: none;
    /*背景色*/
    background: #fff;
    /*要素の角を丸くする*/
    border-radius: 10px;
    /*要素に影を付ける*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*文字色*/
    color: #fff;
    /*「padding」は外に対して広げるイメージだが、実際に広がるのではなく、広げた力に対して要素自体が適応した大きさになるイメージ*/
    padding: 20px;
    /*画像を表示させる範囲の横幅*/
    width: 360px;
    /*画像を表示させる範囲の縦幅*/
    height: 360px;
    /*画像を表示させる要素の配置＝top＝上から50px下に移動させた位置*/
    top: 50px;
    /*画像を表示させる要素の配置＝left＝左から50px右に移動させた位置*/
    left: 50px;
    /*要素の絶対位置を決定する。＝上から50px、左から50px動かした位置に固定しますよ～です。*/
    position: absolute;
    /*カーソルの表示を変更します。*/
    cursor: hand;
}

/*--------------------------------
左側にスワイプした時に適用されるCSS
--------------------------------*/
.rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
    z-index: 10;
}

/*--------------------------------
右側にスワイプした時に適用されるCSS
--------------------------------*/
.rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
}

/*--------------------------------
画像を表示させる
--------------------------------*/
.avatar {
    background: #222;
    width: 340px;
    height: 340px;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    background-size: auto 160% !important;
    background-position: center;
    background-repeat: no-repeat;
}

.like {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid green;
    color: green;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    right: 40px;
    text-shadow: none;
}

.dislike {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 40px;
    text-shadow: none;
}